<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assets/Logo_Newsletter.png" type="image/x-icon">
    <title>Miltiatak</title>
</head>
<body>
    <header>
        <nav>
            <div class="img_container">
                <img src="\assets\icones_home\logo\logo-header.svg" alt="Multiatak">
            </div>
            <div class="container">
                <form action="#" method="post" class="pesquisar">
                    <input type="text" 
                    name="input_pesquisar" 
                    id="input_pesquisar" 
                    class="input_pesquisar"
                    placeholder="Digite oque você procura...">
                    <button type="submit"><img src="\assets\icones_home\icones_header\botao-lupa.svg" alt="imgem"></button>
                </form>
                <img for="atendimento_header" src="/assets/icones_home/icones_header/atendimento.svg" alt="atendimento" class="header_img">
                <select name="atendimento_header" id="atendimento_header" class="atendimento_header">
                    <option hidden selected>Atendimento</option>
                    <option>Atendimento1</option>
                    <option>Atendimento2</option>
                    <option>Atendimento3</option>
                </select>
            </div>
        </nav>
        <div class="menu">

        </div>
    </header>
    {{{body}}}
</body>
</html>