<html lang="pt-bt">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/assets/Logo_Newsletter.png"
      type="image/x-icon"
    />
    <title>Miltiatak</title>
  </head>

  <body>
    <main>
      <header>
        <nav>
          <div class="menu_top">
            <div class="logo_container">
              <img class="logo_header" src="\assets\icones_home\logo\logo-header.svg" alt="Multiatak logo">
            </div>
            <div class="cont">
                <form action="/home" method="get">
                  <input 
                  type="text"
                  name="pesquisa" 
                  id="pesquisa" 
                  class="pesquisa"
                  placeholder="Digite aqui oque você procura...">
                  <button type="submit"><img src="\assets\icones_home\icones_header\botao-lupa.svg" alt="Pesquisar"></button>
                </form>
                <div class="select">
                  <img src="\assets\icones_home\icones_header\atendimento.svg" alt="">
                  <select name="atendimento" id="atendimento" class="atendimento">
                    <option disabled selected hidden>Atendimento</option>
                    <option>Escolha</option>
                    <option>Escolha</option>
                    <option>Escolha</option>
                  </select>
                  <div class="select_arrow"></div>
                </div>
                <div class="select">
                  <img src="\assets\icones_home\icones_header\minha-conta.svg" alt="">
                  <select name="atendimento" id="atendimento" class="atendimento">
                    <option disabled selected hidden>Minha conta</option>
                    <option>Escolha</option>
                    <option>Escolha</option>
                    <option>Escolha</option>
                  </select>
                  <div class="select_arrow"></div>
                </div>
              </div>
          </div>
          <div class="menu_bottom">
            <input type="checkbox" name="menu_hidder" id="menu_hidder" class="menu_hidder">
            <label for="menu_hidder"><img src="\assets\icones_home\menu-hamburguer.svg" alt="Categorias">Todos os departamentos </label>
            <div class="cont">
              <a href="/home"><img src="\assets\icones_home\icones_categorias\som-e-video-vermelho.svg" alt="Som e vídeo">Som e vídeo</a>
              <a href="/home"><img src="\assets\icones_home\icones_categorias\farois-lanternas-vermelho.svg" alt="Faróis lanternas e liuminação">Faróis lanternas e liuminação</a>
              <a href="/home"><img src="\assets\icones_home\icones_categorias\acessorios-internos-vermelho.svg" alt="Acessórios internos">Acessórios internos</a>
              <a href="/home"><img src="\assets\icones_home\icones_categorias\acessorios-externos-vermelho.svg" alt="Acessórios externos">Acessórios externos</a>
              <a href="/home"><img src="\assets\icones_home\icones_categorias\vestuarios-vermelho.svg" alt="Vestuário">Vestuários</a>
              <a href="/home"><img src="\assets\icones_home\icones_categorias\infantil-vermelho.svg" alt="Infantil">Infantil</a>
              <form action="/home" method="get">
                <button  class="carrinho"  type="submit"><img src="\assets\icones_home\icones_header\carrinho.svg" alt="Compras"></button>
              </form>
            </div>
          </div>
        </nav>
        <div class="mobile_menu">
          <div class="mobile_menu_top">
            <input type="checkbox" name="mobile_hidden_menu" id="mobile_hidden_menu" class="hidden_menu">
            <label for="mobile_hidden_menu"><img src="\assets\icones_home\menu-hamburguer.svg" alt=""></label>
            <div class="categorias">
              <div class="cont">
                <a href="/home"><img src="\assets\icones_home\icones_categorias\som-e-video-vermelho.svg" alt="Som e vídeo">Som e vídeo</a>
                <a href="/home"><img src="\assets\icones_home\icones_categorias\farois-lanternas-vermelho.svg" alt="Faróis lanternas e liuminação">Faróis lanternas e liuminação</a>
                <a href="/home"><img src="\assets\icones_home\icones_categorias\acessorios-internos-vermelho.svg" alt="Acessórios internos">Acessórios internos</a>
                <a href="/home"><img src="\assets\icones_home\icones_categorias\acessorios-externos-vermelho.svg" alt="Acessórios externos">Acessórios externos</a>
                <a href="/home"><img src="\assets\icones_home\icones_categorias\vestuarios-vermelho.svg" alt="Vestuário">Vestuários</a>
                <a href="/home"><img src="\assets\icones_home\icones_categorias\infantil-vermelho.svg" alt="Infantil">Infantil</a>
              </div>
            </div>
            <img class="logo" src="\assets\icones_home\logo\logo-header.svg" alt="Multiatak">
            <img class="minha_conta" src="\assets\icones_home\icones_header\minha-conta-cinza.svg" alt="">
            <form action="/home" method="get">
              <button type="submit"><img src="\assets\icones_home\icones_header\carrinho.svg" alt=""></button>
            </form>
          </div>
          <div class="mobile_menu_bottom">
            <img class="triangulo_branco" src="\assets\icones_home\icones_header\triangulo-branco.svg" alt="">
            <input type="text" 
            name="pesquisa" 
            id="pesquisa" 
            class="pesquisa"
            placeholder="Pesquisa aqui oque você procura...">
            <img class="ico_pesquisa" src="\assets\icones_home\icones_header\lupa-sozinha.svg" alt="">
          </div>
        </div>
      </header>
      {{{body}}}
      <footer>
        <div class="menu">
          <div class="cont">
            <p class="title">Instituição</p>
            <ul>
              <li><a href="/home">Política de Venda</a></li>
              <li><a href="/home">Política de Privacidade</a></li>
              <li><a href="/home">Trocas e Devoluções</a></li>
              <li><a href="/home">Entrega</a></li>
            </ul>
          </div>
          <div class="cont">
            <p class="title">Acesso rápido</p>
            <ul>
              <li><a href="/home">Som e Vídeo</a></li>
              <li><a href="/home">Faróis, Lanternas e iluminação</a></li>
              <li><a href="/home">Acessórios Internos</a></li>
              <li><a href="/home">Acessórios Externos</a></li>
              <li><a href="/home">Vestuário</a></li>
              <li><a href="/home">Infantil</a></li>
            </ul>
          </div>
          <div class="cont">
            <p class="title">Contato</p>
            <ul>
              <li><a href="mailto:contato@multiatak.com.br">contato@multiatak.com.br</a></li>
              <li><a href="tel:+5517991490815"></a>(17)99149-0815</li>
              <li><a>Rua azevedo Rangel, 18 - Centrom Urupês-SP, CEP: 15850-000</a></li>
            </ul>
          </div>
          <div class="cont">
            <p class="title">Rede social</p>
            <ul class="contlast">
              <li><a href="#"><img src="\assets\icones_home\icones\facebook.png" alt=""></a></li>
              <li><a href="#"><img src="\assets\icones_home\icones\instagram.png" alt=""></a></li>
            </ul>
          </div>
        </div>
        <div class="infor">
          <div class="metodos_de_pagamento">
            <p class="info">Meios de pagamento: </p>
            <img src="\assets\visa.png" alt="">
            <img src="\assets\master.png" alt="">
            <img src="\assets\elo.png" alt="">
            <img src="\assets\hiper.png" alt="">
            <img src="\assets\boleto.png" alt="">
          </div>
          <div class="meios_de_transporte">
            <p class="info">Meios de envio: </p>
            <img src="\assets\correios.png" alt="">
            <img src="\assets\pac.png" alt="">
            <img src="\assets\sedex.png" alt="">
          </div>
        </div>
        <div class="copyright">
          <img src="\assets\icones_home\logo\logo-footer.svg" alt="">
          <p class="copy">Copyright Multiatak - 2022. Todos os direitos reservados, 13.704.114/0001-04</p>
        </div>
        <div class="cred">
          <img src="\assets\eva-footer.PNG" alt="">
          <img src="\assets\logo-nuvemshop.png" alt="">
        </div>
      </footer>
    </main>
  </body>

</html>