<section class="banner">
    <label class="setas" for="seta1"><img src="\assets\icones_home\seta-esq.svg" alt="Passar para esquerda"></label>
    <label class="setas" for="seta2"><img src="\assets\icones_home\seta-dir.svg" alt="Passar para direita"></label>
    <input type="radio" name="seta" id="seta1" class="seta1">
    <input type="radio" name="seta" id="seta2" class="seta2">
    <div class="slider">
        <div class="slide"></div>
        <div class="slide"></div>
    </div>
</section>